In [24]:
##Reverse STring

a="RONALDO GOAT"

print(a[::-1])

TAOG ODLANOR

In [26]:
reversed(a) ##shows the location

In [25]:
" ".join(reversed(a))

'T A O G   O D L A N O R'

In [15]:
list(reversed(a))

['RONALDO GOAT']

In [21]:
##removing char from the end of string

a=" RONALDO GOAT "
a.strip(" ")

'RONALDO GOAT'

In [22]:
a.lstrip(" ") #removing left whitespace strip

'RONALDO GOAT '

In [23]:
a.rstrip(" ") #removing right whitespace strip

' RONALDO GOAT'

In [2]:
##replace

a=" RONALDO GOAT "
a.replace("GOAT","ONLY GOAT")

' RONALDO ONLY GOAT '

In [3]:
a.replace("G","B")  #String is inmutable but here an entirely new string is created after replacing the letter

' RONALDO BOAT '

In [14]:
str1="Welcome to Dat cience"   #Qts - fill the word
a=str1.replace("Dat","Data")
b=a.replace("cience","Science")
print(b)      #1st method

Welcome to Data Science

In [18]:
str2="Welcome to Dat cience"   #2nd method
str2.replace("Dat","Data").replace("cience","Science")
print(str2)

Welcome to Dat cience

In [16]:
str2.upper()

'WELCOME TO DAT CIENCE'

In [19]:
str2.islower()

False

In [21]:
str2.isspace()

False

In [25]:
str2.endswith("e")

True

In [29]:
str2.count("")

22

In [30]:
#or 2nd method using for

count=0
for i in str2:
    count=count+1
print(count)

21

In [31]:
len(str2)

21

In [32]:
range(len(str2))

range(0, 21)

In [40]:
for i in range(len(str2)):  #showing index wise string
    print("i","=",str2[i])

i = W
i = e
i = l
i = c
i = o
i = m
i = e
i =
i = t
i = o
i =
i = D
i = a
i = t
i =
i = c
i = i
i = e
i = n
i = c
i = e

In [42]:
str2[::-1]

'ecneic taD ot emocleW'

In [46]:
for i in range(len(str2)-1,-1,-1):  #showing index wise string
    print("i","=",str2[i])
    
    ##The arguments to range() are start, stop, and step. In this case, start is a, stop is -1, and step is -1.
    ## For example, if a is 5, range(a, -1, -1) will return the sequence 5, 4, 3, 2, 1, 0, -1.

i = e
i = c
i = n
i = e
i = i
i = c
i =
i = t
i = a
i = D
i =
i = o
i = t
i =
i = e
i = m
i = o
i = c
i = l
i = e
i = W

In [3]:
str2="Welcome to Data Science"
ch=len(str2)-1
while ch>=0:
    print(str2[ch],end="")
    ch=ch-1

ecneicS ataD ot emocleW

In [4]:
name="kapil"
vowel="aeiou"
for ch in name:
    if ch in vowel:
        print(ch)

a
i

In [11]:
name="kapil"
a=list(name)
a[1]="e"
name="".join(a)
print(name)

kepil

In [ ]:
##example of indexing a string 
s = "hello"
lst = list(s) # convert string to list
lst[1] = "a" # replace character at index 1
s = "".join(lst) # convert list back to string. the join() method is used to concatenate a list of strings into a single string
print(s)

In [16]:
name="kapil"
a=list(name.split(" "))
print(a)

['kapil']

In [17]:
##LIST
#concatenate
name=[1,2,3,4]
name + [5,6]

[1, 2, 3, 4, 5, 6]

In [21]:
##multiconcatenated list 
name=[1,2,3,4]
name1 = name + [[5,6]]
print(name1)

[1, 2, 3, 4, [5, 6]]

In [23]:
#how to get 5 from nested bracket ?
name1[-1][0]

5

In [1]:
##check if 3 is in the list using loop
name=[1,2,3,4]
for ch in name: ##ch or element both can be written
    if ch == 5:
        print( "5 is in list")
        break
else:
    print("5 is not in list")
        
##we use the in keyword to check if the value 3 is in the list name. If it is, we print a message indicating that 3 is 
##in the list and use the break statement to exit the loop. If it's not, we continue iterating through the loop until the 
##end, and then print a message indicating that 3 is not 
##in the list.

5 is not in list

In [2]:
##ASCII CODE
lst1=["zebra","cook","dog","lion"]
print(max(lst1)) ##ASCII value of fist char of word-- google it

zebra

In [3]:
lst2=[1,2,3,4,5]
print(max(lst2))

5

In [7]:
##append  (in place operaion)
#an "in-place" operation is an operation that modifies an object directly, without creating a new object. 
#For example, if you have a list my_list, and you want to sort it in-place, you can use the sort() method

lst1=["zebra","cook","dog","lion"]
lst2=[1,2,3,4,5]
lst1.append(lst2)
print(lst1)

['zebra', 'cook', 'dog', 'lion', [1, 2, 3, 4, 5]]

In [15]:
lst1.extend(["pw","skills"])  ##extending 2 words without nesting it
lst1

['zebra', 'cook', 'lion', 'pw', 'skills']

In [8]:
##pop
##pop() is a list method that removes and returns the last element from a list. It's an in-place operation, 
#which means that it modifies the list directly, rather than creating a new list object.

removed_element0=lst1.pop()

[1, 2, 3, 4, 5]

In [9]:
##if you want to remove a specific index using pop

removed_element1 = lst1.pop(2) ##-dog is removed from the list

'dog'

In [10]:
print(lst1)

['zebra', 'cook', 'lion']

In [12]:
#sorting and reverse -in place operation

lst2=[1,2,3,4,5]
lst2.reverse()
print(lst2)

[5, 4, 3, 2, 1]

In [17]:
lst2=[1,2,3,4,5]
lst2.sort(reverse=True)  ##reverse can be done by indexing and also by sort function
lst2

[5, 4, 3, 2, 1]

In [2]:
##NESTED LIST

lst1=[1,2,3]
lst2=[4,5,6]
lst3=[7,8,9]

matrix=[lst1,lst2,lst3]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
matrix[0]

[1, 2, 3]

In [4]:
matrix[1][2]

6

In [5]:
matrix[2][1:]

[8, 9]

In [24]:
##LIST COMPREHENSION
#EVEN

[ print(i,end="") if i%2==0 else print("")
 for i in range(0,20)]

0
2
4
6
8
10
12
14
16
18

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [26]:
##assign: make sum of odd and even num

lst=[1,2,3,4,5,6,7,8]
even=0
odd=0
for i in lst:
    if i%2==0:
        even=even+i
    else:
        odd=odd+i
print(even)
print(odd)

20
16

In [37]:
##2ndmethod

lst=[1,2,3,4,5,6,7,8]
even = sum([num for num in lst if num % 2==0])
print(even)

20

In [38]:
lst=[[1,2,3],[4,5,6],[7,8,9]]
new_lst = [num for sublist in lst for num in sublist]
print(new_lst)

TypeError: 'int' object is not iterable